!-------------------------------------------------------------------------------
! Fonts
!-------------------------------------------------------------------------------

! Fonts
URxvt.font:     				xft:DejaVuSansMono:size=8:antialias=true
URxvt.boldFont: 				xft:DejaVuSansMono:bold:size=8:antialias=true

Xft.antialias: 					true
Xft.rgba:      					rgb
Xft.hinting:   					true
Xft.hintstyle: 					hintfull
Xft.dpi:       					180

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

! Enables alpha channel.
URxvt.depth:                	32
! Size of window.
URxvt.geometry:             	80x20
! Transparent to background.
URxvt.transparent:          	false
! Fade text when focus to the window is lost.
URxvt.fading:               	30
URxvt.loginShell:           	false
! Save number lines in the scrollback buffer.
URxvt.saveLines:            	1000
! Internal border of number pixels.
URxvt.internalBorder:       	2
! External border of number pixels.
URxvt.externalBorder:       	10
! Specifies number of lines (pixel height) to insert between each row of the display.
URxvt.lineSpace:            	3
! Turn off cursor blinking.
URxvt.cursorBlink:				false

! Fix font space
URxvt*letterSpace: 				-1

! Scrollbar
URxvt.scrollStyle:          	rxvt
URxvt.scrollBar:            	false

! Perl extensions
URxvt.perl-ext-common:      	default,matcher,keyboard-select,clipboard

! Keyboard select
URxvt.keysym.C-Escape: 			perl:keyboard-select:activate
URxvt.keysym.C-s: 				perl:keyboard-select:search

! Keyboard copy
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.iso14755: 				False

! Clickable URLs
URxvt.matcher.button:       	1
URxvt.url-launcher:          	firefox

! Cursor
URxvt.cursorUnderline:      	true

! Pointer
URxvt.pointerBlank:         	true

!-------------------------------------------------------------------------------
! Color scheme
!-------------------------------------------------------------------------------

! X11 colors pieced together by Dmitry Medvinsky.
! Based on Vim colorscheme "badwolf" pieced together by Steve Losh.

URxvt.background:				#1c1b1a
URxvt.foreground:				#f8f6f2
URxvt.cursorColor:				#aeee00
URxvt.scrollColor:				#45413b
URxvt.fadeColor:				#000000

! Black
URxvt.color0:					#141413
URxvt.color8:					#000000
! Red
URxvt.color1:					#ff2c4b
URxvt.color9:					#ff2c4b
! Green
URxvt.color2:					#aeee00
URxvt.color10:					#aeee00
! Yellow
URxvt.color3:					#fade3e
URxvt.color11:					#ffa724
! Blue
URxvt.color4:					#3a9dff
URxvt.color12:					#3a9dff
! Magenta
URxvt.color5:					#ff9eb8
URxvt.color13:					#ff9eb8
! Cyan
URxvt.color6:					#8cffba
URxvt.color14:					#8cffba
! White
URxvt.color7:					#d9cec3
URxvt.color15:					#ffffff
